/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1,
.wrapper .page h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-top__logo {
  color: #fff;
  font-size: 2em;
  font-family: "Jura", sans-serif;
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top__menu li {
  padding: 5px;
}

.header-top__menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Jura", sans-serif;
}

.section {
  max-width: 1920px;
  width: 100%;
}

.section .section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section .section-flex__item {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.section .section-flex .slider {
  max-width: 900px;
  width: 100%;
}

.section .section-flex .item {
  max-width: 800px;
  color: #fff;
  font-size: 1.3em;
  font-family: "Jura", sans-serif;
}

.section .section-flex .item h1, .section .section-flex .item .wrapper .page h2, .wrapper .page .section .section-flex .item h2 {
  font-size: 6vw;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.section .section-flex .item-info {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.section .section-flex .item-info__descr {
  font-size: 0.8em;
  line-height: 1.3em;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section .section-flex .item-info h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section .section-flex .item-info__model-descr {
  font-size: 0.8em;
  line-height: 1.2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #fff;
}

.footer-menu li a {
  display: block;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.1em;
}

body {
  width: 100%;
  height: 100%;
  background: radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102, 0, 0, 0) 9%) 0 0, radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102, 0, 0, 0) 10%) 50px 50px, radial-gradient(rgba(153, 0, 0, 0.8) 20%, rgba(102, 0, 0, 0)) 50px 0, radial-gradient(rgba(153, 0, 0, 0.8) 20%, rgba(102, 0, 0, 0)) 0 50px, radial-gradient(#660000 35%, rgba(102, 0, 0, 0) 60%) 50px 0, radial-gradient(#660000 35%, rgba(102, 0, 0, 0) 60%) 100px 50px, radial-gradient(rgba(77, 0, 0, 0.7), rgba(102, 0, 0, 0)) 0 0, radial-gradient(rgba(77, 0, 0, 0.7), rgba(102, 0, 0, 0)) 50px 50px, linear-gradient(45deg, rgba(102, 0, 0, 0) 49%, black 50%, rgba(102, 0, 0, 0) 70%) 0 0, linear-gradient(-45deg, rgba(102, 0, 0, 0) 49%, black 50%, rgba(102, 0, 0, 0) 70%) 0 0;
  background-color: #300;
  background-size: 100px 100px;
}

a {
  text-decoration: none;
}

.price {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 10px;
  background-color: #fff;
}

.price-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  left: auto;
  display: block;
  background-color: #b30000;
  width: 40px;
  height: 40px;
  border: 2px double rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.price .inner {
  position: absolute;
  top: 17px;
  left: 5px;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.price .inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
}

.price-list table {
  background-color: rgba(104, 6, 6, 0.9);
  width: 100%;
  font-size: 1.5em;
  border-collapse: collapse;
  color: #fff;
}

.price-list table th, .price-list table tr, .price-list table td {
  padding: 5px;
  border: 4px double rgba(255, 255, 255, 0.2);
}

.price-list table th {
  font-weight: normal;
}

.price-list table tr {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.price-list table tr:nth-child(even):not(:first-child) {
  background-color: rgba(255, 165, 0, 0.2);
}

.price-list table tr:not(:first-child):hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.price-list table td {
  cursor: pointer;
}

.price-list table td:first-child {
  padding-left: 50px;
}

.price-list table td:not(:first-child) {
  text-align: center;
}

.price-show {
  display: block;
}

.price-hide {
  display: none;
}

.wrapper {
  max-width: 1700px;
  width: 100%;
  margin: auto;
}

.wrapper .page {
  margin-top: 90px;
  width: 100%;
  font-family: "Jura", sans-serif;
}

.wrapper .page h1, .wrapper .page h2 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
}

.wrapper .page h2 {
  font-size: 2.5em;
}

.wrapper .page-btn {
  width: 250px;
  height: 50px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.8;
  text-align: center;
  border: 2px solid tan;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.wrapper .page-btn:hover {
  border-style: dashed;
  background-color: transparent;
}

.wrapper .page-contacts {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  color: tan;
}

.wrapper .page-contacts span {
  font-size: 1.5em;
  line-height: 1.8;
  letter-spacing: 5px;
}

.wrapper .section {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper .section-title {
  font-size: 2em;
  color: #fff;
  line-height: 2em;
}

.wrapper .section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1680px;
  width: 100%;
}

.wrapper .section-flex figure.effect {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 10px;
}

.wrapper .section-flex figure.effect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.wrapper .section-flex figure.effect img {
  width: 100%;
  position: relative;
  opacity: 0.4;
  overflow: hidden;
}

.wrapper .section-flex figure.effect figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper .section-flex figure.effect h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

.wrapper .section-flex figure.effect h2 span {
  font-size: 1.5em;
  font-weight: 800;
}

.wrapper .section-flex figure.effect:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #d31919;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

.wrapper .section-flex figure.effect a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.wrapper .section-flex figure.effect.red {
  background: #581a14;
}

.wrapper .section-flex figure.effect.red h2 {
  background: #c52115;
}

.wrapper .section-flex figure.effect:hover img,
.wrapper .section-flex figure.effect.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.wrapper .section-flex figure.effect:hover h2,
.wrapper .section-flex figure.effect.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

.wrapper .section-flex figure.effect:hover:before,
.wrapper .section-flex figure.effect.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}
/*# sourceMappingURL=style.css.map */