/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__logo {
  max-width: 300px;
  width: 100%;
}
.header-top__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: "Jura", sans-serif;
  font-size: 2em;
}
.header-top nav {
  max-width: 300px;
  width: 100%;
}
.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 1.4em;
}
.header-top__menu li {
  padding: 5px;
}
.header-top__menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Jura", sans-serif;
}
.header-top__contacts {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 860px) {
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .header-top__logo {
    padding: 10px 0;
  }
  .header-top nav {
    padding: 10px 0;
  }
  .header-top__contacts {
    padding: 10px 0;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.page .page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: "Jura", sans-serif;
}
.page .page-flex__item {
  padding: 20px 0;
}
.page .page-flex .slider {
  max-width: 900px;
  width: 100%;
}
.page .page-flex .item {
  padding-bottom: 20px;
}
.page .page-flex .item-title__name {
  padding: 5px 0;
  font-size: 2.5em;
}
.page .page-flex .item-title__price {
  padding: 10px 0;
  color: rgb(255, 255, 0);
}
.page .page-flex .item ul {
  font-size: 1em;
  list-style-type: square;
}
.page .page-flex .slider {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px dashed #fff;
}

@media screen and (max-width: 860px) {
  .page-flex {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer {
  max-width: 1920px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 1em;
  color: #fff;
}

main {
  max-width: 1920px;
  width: 100%;
}
main .main__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}
main .main__menu-items .elem {
  max-width: 250px;
  width: 100%;
  padding: 5px;
}

body {
  width: 100%;
  height: 100%;
  background: radial-gradient(hsl(0deg, 100%, 27%) 4%, hsl(0deg, 100%, 18%) 9%, hsla(0deg, 100%, 20%, 0) 9%) 0 0, radial-gradient(hsl(0deg, 100%, 27%) 4%, hsl(0deg, 100%, 18%) 8%, hsla(0deg, 100%, 20%, 0) 10%) 50px 50px, radial-gradient(hsla(0deg, 100%, 30%, 0.8) 20%, hsla(0deg, 100%, 20%, 0)) 50px 0, radial-gradient(hsla(0deg, 100%, 30%, 0.8) 20%, hsla(0deg, 100%, 20%, 0)) 0 50px, radial-gradient(hsl(0deg, 100%, 20%) 35%, hsla(0deg, 100%, 20%, 0) 60%) 50px 0, radial-gradient(hsl(0deg, 100%, 20%) 35%, hsla(0deg, 100%, 20%, 0) 60%) 100px 50px, radial-gradient(hsla(0deg, 100%, 15%, 0.7), hsla(0deg, 100%, 20%, 0)) 0 0, radial-gradient(hsla(0deg, 100%, 15%, 0.7), hsla(0deg, 100%, 20%, 0)) 50px 50px, linear-gradient(45deg, hsla(0deg, 100%, 20%, 0) 49%, hsl(0deg, 100%, 0%) 50%, hsla(0deg, 100%, 20%, 0) 70%) 0 0, linear-gradient(-45deg, hsla(0deg, 100%, 20%, 0) 49%, hsl(0deg, 100%, 0%) 50%, hsla(0deg, 100%, 20%, 0) 70%) 0 0;
  background-color: #300;
  background-size: 100px 100px;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

.section {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.section-title {
  font-size: 5vw;
  color: tan;
  line-height: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.section-flex figure.effect {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 10px;
}
.section-flex figure.effect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section-flex figure.effect img {
  width: 100%;
  position: relative;
  opacity: 0.4;
  overflow: hidden;
}
.section-flex figure.effect figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.section-flex figure.effect h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}
.section-flex figure.effect h2 span {
  font-size: 1.5em;
  font-weight: 800;
}
.section-flex figure.effect:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgb(211, 25, 25);
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}
.section-flex figure.effect a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.section-flex figure.effect.red {
  background: #581a14;
}
.section-flex figure.effect.red h2 {
  background: #c52115;
}
.section-flex figure.effect:hover img,
.section-flex figure.effect.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section-flex figure.effect:hover h2,
.section-flex figure.effect.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
.section-flex figure.effect:hover:before,
.section-flex figure.effect.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}/*# sourceMappingURL=style.css.map */