@import "_var";
.footer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    background-color: rgba(#000, .6);

    &__copy {
        margin: auto;
        span {
            text-align: center;
            font-family: $Jura;
            font-size: 1em;
            color: #fff;
        }
    }
}