@import "_var";

.footer { 
    max-width: 1920px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #fff;

    &-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;        
        text-align: center;
        font-family: $Jura;
        font-size: 1em;
        color: #fff;
    }    
}