main {
    max-width: 1920px;
    width: 100%;
    .main__menu-items {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;

        .elem {
            padding: 5px;
            
        }
    }
}