@import "sass/_var";
@import "sass/_reset";
@import "sass/_header";
@import "sass/_footer";

// VARIABLES


body {
  width: 100%;
  height: 100%;
    background:
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300;
    background-size: 100px 100px;
}
a {text-decoration: none;}
// PRICE LIST
.price {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: $Roboto;
  color: #fff;  
  margin: 10px;
  background-color: #fff;
  &-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    left: auto;
    display: block;
    background-color: darken(red, 15%);
    width: 40px;
    height: 40px;
    border: 2px double rgba(#fff, .5);
    border-radius: 50%;
    cursor: pointer;
    
    }

    .inner {
      position: absolute;
      top: 17px;
      left: 5px;
      width: 30px;
      height: 5px;
      border-radius: 2px;
      transform: rotate(45deg);
      background-color: #fff;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-90deg);
        width: 30px;
        height: 5px;
        background-color: #fff;
        border-radius: 2px;
      }
    
  }
  &-list {
    // border: 1px solid #fff;
    
    table {
      background-color: rgba(104, 6, 6, .9);
      width: 100%;
      font-size: 1.5em;
      border-collapse: collapse;
      color: #fff;      
      th, tr, td {
        padding: 5px;
        border: 4px double rgba(#fff, .2);
      }
      th {
        font-weight: normal;
        
        
      }
      tr {        
        
        transition: .2s linear;
        &:nth-child(even):not(:first-child) {
          background-color: rgba(orange, .2);
        }
        &:not(:first-child) {
          &:hover {
            background-color: rgba(#fff, .3);
          }
        }
      }
      td {
        cursor: pointer;
        &:first-child {
          padding-left: 50px;
        }
        &:not(:first-child) {
          text-align: center;
        }
        
      }

    }
  }
}
.price-show {
  display: block;
}
.price-hide {
  display: none;
}

.wrapper {
  max-width: 1700px;
  width: 100%;
  margin: auto;
  
  .page {
    margin-top: 90px;
    width: 100%;
    font-family: $Jura;
    h1 {
        font-size: 3em;
        text-align: center;
        color: #fff;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    h2 {
        @extend h1;
        font-size: 2.5em;
    }
    &-btn {
      width: 250px;
      height: 50px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      color: #fff;
      font-size: 1.5em;
      line-height: 1.8;
      text-align: center;
      border: 2px solid tan;
      border-radius: 10px;
      background-color: rgba(#fff, .1);
      transition: .3s ease;
      cursor: pointer;
      
      &:hover {
        border-style: dashed;
        background-color: transparent;

      }
    }
    &-contacts {
        padding-top: 100px;
        padding-bottom: 80px;
        text-align: center;
        color: tan;
        span {
            font-size: 1.5em;
            line-height: 1.8;
            letter-spacing: 5px;
        }
    }
  
  }
  .section {
    width: 100%;
    font-family: $Roboto;
    &-title {
        font-size: 2em;
        color: #fff;
        line-height: 2em;
    }
    &-flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1680px;
      width: 100%;

      figure.effect {
        font-family: $Roboto;
        position: relative;
        overflow: hidden;
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        background: #000000;
        color: #ffffff;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin: 10px;
      }
        
      figure.effect * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
        
      figure.effect img {
        width: 100%;
        position: relative;
        opacity: 0.4;
        overflow: hidden;
      }
        
      figure.effect figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
        
      figure.effect h2 {
        position: absolute;
        left: 40px;
        right: 40px;
        display: inline-block;
        background: #000000;
        -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
        transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
        padding: 12px 5px;
        margin: 0;
        top: 50%;
        text-transform: uppercase;
        font-weight: 400;
      }
        
      figure.effect h2 span {
        font-size: 1.5em;
        font-weight: 800;
      }
        
      figure.effect:before {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: '';
        background: rgb(211, 25, 25);
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: rotate(110deg) translateY(-50%);
        transform: rotate(110deg) translateY(-50%);
      }
      
      figure.effect a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
      }                
      figure.effect.red {
        background: #581a14;
      }
      
      figure.effect.red h2 {
        background: #c52115;
      }
      
      figure.effect:hover img,
      figure.effect.hover img {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      
      figure.effect:hover h2,
      figure.effect.hover h2 {
        -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
        transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
      }
      
      figure.effect:hover:before,
      figure.effect.hover:before {
        -webkit-transform: rotate(110deg) translateY(-150%);
        transform: rotate(110deg) translateY(-150%);
      }
    }
  }
}

// ACCORD

.section {
  max-width: 1920px;
  width: 100%;
  h1 {
    font-size: 3em;
    font-family: $Jura;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

    &__item {
      max-width: 900px;
      width: 50%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    .slider {
      margin: 5px;
      background-color: rgba($c1, .5);
    }
    .title-item {
      color: #fff;
      font-size: 1.3em;
      font-family: $Jura;
      background-color: rgba($c2, .5);
    }
  }
}

